@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .skeleton {
    @apply bg-gray-700 rounded-lg relative overflow-hidden;
  }
  .skeleton::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.1),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
